@import "../../styles/_fonts.scss";
@import "../../styles/_mixins.scss";

.header {
  &__grid {
    display: grid;
    // grid-template-columns: 1fr auto 1fr;
    // align-items: center;
    &--logo {
      font-family: $logo-font;
      // justify-self: center;

      @include for-tablet-portrait-up {
        font-size: 3rem;
      }
      @include for-tablet-landscape-up {
        font-size: 3.5rem;
      }
      @include for-desktop-up {
        font-size: 4rem;
      }
      @include for-big-desktop-up {
        font-size: 5rem;
      }
      @include for-phone-only {
        font-size: 2rem;
      }
    }
    &--temp {
      justify-self: end;
    }
  }
}
