<footer class="footer mt-5">
  <div class="container">
    <header class="footer--header py-3 border-bottom">
      <div class="footer--header-subscribe">
        <input type="text" />
        <span class="my-btn">Subscribe</span>
      </div>
      <div class="footer--header-logo">
        The Daily Times
      </div>
      <div class="footer--header-social">
        <ul class="d-flex">
          <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-rss" aria-hidden="true"></i></li>
          <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
        </ul>
      </div>
    </header>
    <div class="footer--gotos mt-3">
      <div class="footer--gotos-wrapper">
        <div class="border-right footer--gotos-box">
          <p class="footer--gotos-head">NEWS</p>
          <div class="d-flex flex-wrap">
            <span [routerLink]="['/the-daily-times', 'all']">All </span>
            <span [routerLink]="['/the-daily-times', 'general']">General </span>
            <span [routerLink]="['/the-daily-times', 'sports']">Sports </span>
            <span [routerLink]="['/the-daily-times', 'technology']"
              >Technology</span
            >
            <span [routerLink]="['/the-daily-times', 'health']">Health </span>
            <span [routerLink]="['/the-daily-times', 'entertainment']"
              >Entertainment
            </span>
            <span [routerLink]="['/the-daily-times', 'business']"
              >Business
            </span>
            <span
              [routerLink]="['/theDailyTimes/page', 'science']"
              routerLinkActive="active"
              >Science
            </span>
          </div>
        </div>
        <div class="border-right footer--gotos-box  px-3">
          <p class="footer--gotos-head">OPINION</p>
          <div class="">
            <p>Today's Opinion</p>

            <p>Op-Ed Columnists</p>

            <p>Contributing Writers</p>

            <p>Op-Ed Contributers</p>

            <p>Letters</p>
            <p>Sunday Review</p>
          </div>
        </div>
        <div class="border-right footer--gotos-box ml-3">
          <p class="footer--gotos-head">ARTS</p>
          <div class="d-flex flex-wrap">
            <span>Today's Arts</span>

            <span>Art & Design</span>

            <span>Dance</span>

            <span>Movies</span>

            <span>Music</span>
            <span>N.Y.C. Events Guide</span>
            <span>Television</span>
            <span>Theater</span>
            <span>Video:Arts</span>
          </div>
        </div>
        <div class="footer--gotos-box px-3">
          <p class="footer--gotos-head">PAPERS</p>
          <div class="d-flex mt-3">
            <div class="papers-box ">
              <img
                src="https://cdn.britannica.com/25/93825-050-D1300547/collection-newspapers.jpg"
                alt=""
              />
              <div class="d-flex justify-content-between">
                <span>Newspapers</span>
                <span><b>Free</b></span>
              </div>
            </div>
            <div class="papers-box px-3">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZ55ZpzPqi2y6ERahOtIF0p9QwF8vg_fnHKBMfzk4gaf36JiJXLA&s"
                alt=""
              />
              <div class="d-flex justify-content-between">
                <span>Old Papers</span>
                <span><b>Free</b></span>
              </div>
            </div>
            <div class="papers-box">
              <img
                src="https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/743/cached.offlinehbpl.hbpl.co.uk/news/OMC/2F4C3957-E2B8-7872-B0E7FF468B357E0A.jpg"
                alt=""
              />
              <div class="d-flex justify-content-between">
                <span>Magazine</span>
                <span><b>Free</b></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer--gotos-wrapper-sec border-top my-3 pt-3 border-bottom">
        <div class=" footer--gotos-box border-right ">
          <p class="footer--gotos-head">LIVING</p>

          <div class="d-flex flex-wrap">
            <span>Automobiles</span>
            <span>Crossword</span>
            <span>Food</span>
            <span>Education</span>
            <span>Style</span>
            <span>Health</span>
            <span>Jobs</span>
            <span>Magazine</span>
            <span>Real Estate</span>
            <span>T Magazine</span>
            <span>Travel</span>
            <span>Weddings</span>
          </div>
        </div>
        <div class="footer--gotos-box  border-right px-3 ">
          <p class="footer--gotos-head">LISTINGS & MORE</p>
          <div class="d-flex flex-wrap">
            <span>Classifieds</span>
            <span>Tools & Services</span>
            <span>Times Topics</span>
            <span>Public Editor</span>
            <span>Blogs</span>
            <span>Multimedia</span>
            <span>Photography</span>
            <span>Video</span>
            <span>NYT Store</span>
            <span>Times Journeys</span>
            <span>Manage My Account</span>
            <span>Weddings & Celebrations</span>
            <span>T Magazine</span>
            <span>Travel</span>
          </div>
        </div>
        <div class="  border-right px-3 footer--gotos-box">
          <p class="footer--gotos-head">MORE</p>
          <div>
            <p>Email Newsletters</p>
            <p>Gift Subscriptions</p>
            <p>Corporate Subscriptions</p>
            <p>Education Rate</p>
          </div>
        </div>
        <div class="footer--gotos-box  px-3">
          <p class="footer--gotos-head">SUBSCRIBE</p>
          <div>
            <p>INYT Home Delivery</p>
            <p>Digital Subscriptions</p>
            <p>Times Insider</p>
            <p>Crossword</p>
          </div>
        </div>
      </div>
      <div class="footer--end-wrapper  py-2 ">
        <div>
          <p>&copy;2019 The Daily Times Company</p>
        </div>
        <div class="footer--end-wrapper-box2">
          <span>Contact Us</span>
          <span>Work With Us</span>
          <span>Advertise</span>
        </div>
        <div class="footer--end-wrapper-box3">
          <span>Site Map</span>
          <span>Help</span>
        </div>
        <div class="footer--end-flag">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvl_8xUQy6Jc-Yt8erSRkcayPVQVVOsH_yXAfNLgt1H4pUYNtO&s"
            width="20px"
            height="20px"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</footer>
