<div class="menu">
  <nav class="my-3 text-center d-flex flex-wrap justify-content-between">
    <span
      [routerLink]="['/the-daily-times', recievedCount, 'all']"
      routerLinkActive="active"
      >All
    </span>
    <span
      [routerLink]="['/the-daily-times', recievedCount, 'general']"
      routerLinkActive="active"
      >General
    </span>
    <span
      [routerLink]="['/the-daily-times', recievedCount, 'sports']"
      routerLinkActive="active"
      >Sports
    </span>
    <span
      [routerLink]="['/the-daily-times', recievedCount, 'technology']"
      routerLinkActive="active"
      >Technology</span
    >
    <span
      [routerLink]="['/the-daily-times', recievedCount, 'health']"
      routerLinkActive="active"
      >Health
    </span>
    <span
      [routerLink]="['/the-daily-times', recievedCount, 'entertainment']"
      routerLinkActive="active"
      >Entertainment
    </span>
    <span
      [routerLink]="['/the-daily-times', recievedCount, 'business']"
      routerLinkActive="active"
      >Business
    </span>
    <span
      [routerLink]="['/the-daily-times', recievedCount, 'science']"
      routerLinkActive="active"
      >Science
    </span>
  </nav>
</div>
